* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ::-webkit-scrollbar {
    width: 0;
} */

body {
    min-height: 100vh;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
    display: flex;
}

@media (max-width: 768px) {
    .wrapper {
        height: 50rem;
        width: 25rem;
        border-radius: 40px;
        border: 10px solid #333;
    }
}

.wrapper.show-category .home-screen{
    transform: translateX(-100%);
}
.wrapper.show-category .category-screen{
    transform: translateX(-100%);
}
.wrapper.show-category .screen-backdrop{
    transform: translate(-50%, -60%);
}
.wrapper .screen {
    flex: 1;
    /* display: flex;
    flex-direction: column; */
    min-width: 100%;
    transition: all 0.3s;
}

.screen-backdrop {
    width: 135%;
    height: 25rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 50% 50%;
    background-color: bisque;
    z-index: -1;
    transition: all 0.3s;
}

.head-wrapper {
    padding: 0 30px;
    /* position: absolute; */
    /* z-index: 1; */
}

.menu-btn {
    width: 2rem;
    cursor: pointer;
    color: #333;
}

.welcome {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.welcome h1 {
    font-size: 1.5rem;
}

.welcome p {
    font-weight: 500;
}

.welcome .image {
    position: relative;
}

.welcome .image img {
    width: 5rem;
    /* height: 5rem;
    border-radius: 50%; */
    /* z-index: 2; */
    /* position: absolute; */
}

.welcome .image .backdrop {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3.8rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
}

.categories-wrapper {
    margin-top: 1rem;
    height: calc(100% - 8rem);
    /* background-color: red; */
    padding: 0 30px;
    padding-bottom: 20px;
    overflow: auto;
}

.categories {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.categories .category {
    display: flex;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    /* background-color: blue; */
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.514);
    transition: all 0.3s;
    /* margin: 1rem 0; */
}
.categories .category:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.633);
}
.category .left{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.category .left img {
    width: 3rem;
    /* height: 3rem; */
    /* border-radius: 50%; */
}
.category .content h1{
    font-size: 1.5rem;
}
.category .content p{
    font-size: 0.8rem;
    color: #333;
    opacity: 0.6;
}
.category .options{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.category .toggle-btn{
    width: 2rem;
    /* height: 2rem; */
    cursor: pointer;
    opacity: 0.6;
}
.category:hover .options{
    opacity: 1;
    visibility: visible;
}

/* tasks screen */
.category-screen .head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: absolute; */
    /* top: 0; */
}
.category-screen .head-wrapper img{
    width: 2rem;
    cursor: pointer;
    color: #333;
}
.category-details{
    padding: 0 30px;
    margin-top: 7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.category-details img{
    width: 4rem;
}
.category-details .details p{
    opacity: 0.6;
}

/* tasks */
.tasks-wrapper{
    padding: 0 30px;
    margin-top: 1rem;
    height: calc(100% - 12rem);
    padding-bottom: 20px;
    overflow: auto;
}
.tasks{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.task-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}
.task input{
    display: none;
}
.task .checkmark{
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task .checkmark svg{
    width: 1rem;
    color: #333;
    opacity: 0;
    transition: all 0.3s;
}
.task:hover .checkmark svg{
    opacity: 1;
}
.task .checkmark svg path{
    stroke-width: 3;
}
.task input:checked~.checkmark{
    background-color: #333;
}
.task input:checked~.checkmark svg{
    opacity: 1;
    color: #fff;
}
.task input:checked~p{
    text-decoration: line-through;
    opacity: 0.6;
}
.task-wrapper .delete{
    min-width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    color: #000;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.031);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.task-wrapper:hover .delete{
    opacity: 1;
    visibility: visible;
}
.task-wrapper .delete:hover{
    color: red;
    background-color: rgba(0, 0, 0, 0.1);
}

/* add task */
.add-task-btn{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    transition: all 0.3s;
}
.add-task-btn.active{
    z-index: 1;
    bottom: 20rem;
    transform: rotate(45deg);
}

.add-task-btn:hover{
    transform: scale(1.1);
}
.add-task-btn svg{
    width: 2rem;
    color: #333;
}
.add-task{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    transition: all 0.3s;
}
.add-task.active{
    bottom: 0;
}
.add-task .heading{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.input-group{
    position: relative;
    margin-bottom: 20px;
}
.input-group input,
.input-group label{
    display: block;
    width: 100%;
}
.input-group input,
.input-group select{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
.input-group label{
    width: max-content;
    padding: 0 5px;
    margin-top: 5px;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}
.btns{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}
.btns button{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s;
}
.btns button.add-btn{
    background-color: beige;
    color: #333;
}
.add-task-backdrop{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 135%;
    height: 20rem;
    border-radius: 50% 50% 0 0;
    background-color: #fff;
    border-top: 1px solid red;
}
.black-backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.black-backdrop.active{
    opacity: 1;
    visibility: visible;
}