* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ::-webkit-scrollbar {
    width: 0;
} */

body {
    min-height: 100vh;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
    display: flex;
}

@media (max-width: 768px) {
    .wrapper {
        height: 50rem;
        width: 25rem;
        border-radius: 40px;
        border: 10px solid #333;
    }
}

.wrapper.show-category .home-screen{
    transform: translateX(-100%);
}
.wrapper.show-category .category-screen{
    transform: translateX(-100%);
}
.wrapper.show-category .screen-backdrop{
    transform: translate(-50%, -60%);
}
.wrapper .screen {
    flex: 1;
    /* display: flex;
    flex-direction: column; */
    min-width: 100%;
    transition: all 0.3s;
}

.screen-backdrop {
    width: 135%;
    height: 25rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 50% 50%;
    background-color: bisque;
    z-index: -1;
    transition: all 0.3s;
}

.head-wrapper {
    padding: 0 30px;
    /* position: absolute; */
    /* z-index: 1; */
}

.menu-btn {
    width: 2rem;
    cursor: pointer;
    color: #333;
}

.welcome {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.welcome h1 {
    font-size: 1.5rem;
}

.welcome p {
    font-weight: 500;
}

.welcome .image {
    position: relative;
}

.welcome .image img {
    width: 5rem;
    /* height: 5rem;
    border-radius: 50%; */
    /* z-index: 2; */
    /* position: absolute; */
}

.welcome .image .backdrop {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3.8rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
}

.categories-wrapper {
    margin-top: 1rem;
    height: calc(100% - 8rem);
    /* background-color: red; */
    padding: 0 30px;
    padding-bottom: 20px;
    overflow: auto;
}

.categories {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.categories .category {
    display: flex;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    /* background-color: blue; */
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.514);
    transition: all 0.3s;
    /* margin: 1rem 0; */
}
.categories .category:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.633);
}
.category .left{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.category .left img {
    width: 3rem;
    /* height: 3rem; */
    /* border-radius: 50%; */
}
.category .content h1{
    font-size: 1.5rem;
}
.category .content p{
    font-size: 0.8rem;
    color: #333;
    opacity: 0.6;
}
.category .options{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.category .toggle-btn{
    width: 2rem;
    /* height: 2rem; */
    cursor: pointer;
    opacity: 0.6;
}
.category:hover .options{
    opacity: 1;
    visibility: visible;
}

/* tasks screen */
.category-screen .head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: absolute; */
    /* top: 0; */
}
.category-screen .head-wrapper img{
    width: 2rem;
    cursor: pointer;
    color: #333;
}
.category-details{
    padding: 0 30px;
    margin-top: 7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}